body {
    margin: 0;
    background-color:#ffffff;
    font-family: 'Roboto', sans-serif ;
}

/* .navbar {
    background:#212121;	
    position: fixed;
    width: 100%;
    display: block;
    transition: top 1.0s;
    text-align: center;
    z-index: 1;
    border-bottom-color: #ffffff;
    border-bottom-width: 3px;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom-style: solid;
} */

/* .navbar a {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    margin: auto;
    padding: 10px 5px;
    font-size: 24px;
} */

/* @media only screen and (max-width: 768px) {
    .navbar a {
        font-weight: 600;
        font-size: 20px;
    }
  }
.navbar a:hover {
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
} */

/* @media only screen and (max-width: 768px) {
    .navbar a:hover {
        font-weight: 900;
    }
  } */

  /* New Test Nav */
  .navbar {
    overflow: hidden;
    background:#212121;	
    position: fixed;
    width: 100%;
    display: block;
    transition: top 1.0s;
    text-align: center;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .navbar .icon {
    display: none;
  }


  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

#map-wrap {
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(to bottom right, #C8C3C5, #A9A9A9);
    border-top-color: #333333;
    border-top-style: solid;
    border-top-width: 3px;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #333333;
}

h1, h2, h3, h4 {
    font-weight: 300;
    color: #333333;
}
h5, h6,  {
    font-weight: 300;
    color:#ffffff;	
}

#paragraph {
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(to bottom right, #C8C3C5, #A9A9A9);
    border-top-color: #333333;
    border-top-style: solid;
    border-top-width: 3px;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color:#333333;
}

p {
    color: #333333;
    font-weight: 300;
    font-size: 30px;
    z-index: 2;
}

#contact-1 {
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(to bottom right, #C8C3C5, #A9A9A9);
    border-top-color: #333333;
    border-top-style: solid;
    border-top-width: 3px;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #333333;
}

.projects {
    color: #333333;	
}
#project-link {
    color: #333333;	
}

#contact-1 a  {
    font-size: 24px;
    font-weight: 700;
    color: #333333 !important;
}

#contact-1 a:hover  {
    font-size: 24px;
    font-weight: 900;
    color: #333333 !important;
}


button {
    align-content: center;
    padding-right: 15px;
    padding-left: 15px;
}
.btn p {
    font-size: 20px;
    padding-top: 15px;
}
.btn p:hover {
    color: #333333;
}
footer {
    background:#212121;	
    width: 100%;
    display: block;
    transition: top 1.0s;
    text-align: center;
    z-index: 1;
    border-top-color: #ffffff;
    border-top-width: 3px;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-top-style: solid;
}
footer a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    margin: auto;
    padding: 10px 5px;
}
footer a:hover {
    background-color: #ddd;
    color: black;
}