body {
    margin: 0;
    background: #fff;
    font-family: Poppins;
}

#navbar {
    background: #d3d3d3;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.8s;
}

#navbar a {
    float: left;
    display: block;
    color: #000000;
    font-weight: 300;
    text-decoration: none;
    margin: 2em 3em;
    font-size: 16px;
}