body {
    margin: 0;
    background-color:#ffffff;
    font-family: Poppins;
}

#navbar {
    background:#bababa;	
    position: fixed;
    width: 100%;
    display: block;
    transition: top 1.0s;
    text-align: center;
    z-index: 1;
    border-bottom-color: #6baac4;
    border-bottom-width: 3px;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom-style: solid;
}

#navbar a {
    display: inline-block;
    color: #6baac4;
    font-weight: 700;
    text-decoration: none;
    margin: auto;
    padding: 10px 5px;
    font-size: 24px;
}
#navbar a:hover {
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
}
#caro-wrap {
    margin-top: 25px;
    background-color:#6baac4;
    padding: 3px;
}

h1 {
    font-weight: 300;
    color: #6baac4 !important;
}

.content {
    margin: 8em 4em;
    text-align: justify;
}

#paragraph {
    display: inline-block;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(to bottom right, #C8C3C5, #A9A9A9);
    border-top-color: #6baac4;
    border-top-style: solid;
    border-top-width: 3px;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #6baac4;
}

p {
    color: #d3d3d3;
    font-weight: 300;
    font-size: 30px;
    z-index: 2;
}

#contact-1 {
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(to bottom right, #C8C3C5, #A9A9A9);
    border-top-color: #6baac4;
    border-top-style: solid;
    border-top-width: 3px;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

#contact-1 a  {
    font-size: 24px;
    font-weight: 700;
    color: #6baac4 !important;
}

#contact-1 a:hover  {
    font-size: 24px;
    font-weight: 900;
    color: #6baac4 !important;
}

#contact-2 ul {
list-style-type: none;

}
button {
    align-content: center;
}
.btn p {
    margin-top: 15px;
    font-size: 20px;
}
.btn p:hover {
    color: #6baac4;
}
